<dotstar-socket-notifier></dotstar-socket-notifier>

<mat-sidenav-container class="grow">
  <mat-sidenav #sidenav mode="side" position="end" [opened]="true" [fixedInViewport]="true" class="elevation-5">
    <div class="row">
      <span class="grow"></span>
      <button
        mat-icon-button
        class="open-menu-button"
        (click)="sidenav.close()">
        <mat-icon>close</mat-icon>
      </button>
    </div>
    <div class="p-10">
      <dotstar-config-form></dotstar-config-form>
    </div>
  </mat-sidenav>

  <mat-sidenav-content>
    <div class="row nav">
      <nav mat-tab-nav-bar color="accent" backgroundColor="primary">
        <a
          *ngFor="let route of dotstarRoutes"
          mat-tab-link
          [routerLink]="[route.path]"
          routerLinkActive
          #rla="routerLinkActive"
          [active]="rla.isActive">
          {{ route.data?.label }}
        </a>
      </nav>
      <span class="grow"></span>
      <button
        mat-button
        class="no-shadow"
        color="accent"
        *ngIf="clock.running | async"
        (click)="clock.pause()">
        <mat-icon>pause</mat-icon>
        <span class="m-l-5">Clock is running</span>
      </button>
      <button
        mat-button
        class="no-shadow c-white"
        *ngIf="!(clock.running | async)"
        (click)="clock.resume()">
        <mat-icon>play_arrow</mat-icon>
        <span class="m-l-5">Clock paused</span>
      </button>

      <button
        *ngIf="socketService.connected$ | async"
        mat-button
        class="no-shadow"
        color="accent"
        (click)="socketService.disconnect()">
        <mat-icon [spin]="10">sync</mat-icon>
        <span class="m-l-5">Transmitting updates</span>
      </button>
      <button
        *ngIf="!(socketService.connected$ | async)"
        mat-button
        class="no-shadow c-white"
        (click)="socketService.connect()">
        <mat-icon>sync</mat-icon>
        <span class="m-l-5">Not connected</span>
      </button>

      <button
        *ngIf="!sidenav.opened"
        mat-icon-button
        color="accent"
        class="open-menu-button"
        (click)="sidenav.open()">
        <mat-icon>menu</mat-icon>
      </button>
    </div>

    <router-outlet></router-outlet>
  </mat-sidenav-content>

</mat-sidenav-container>

<dotstar-control-bar></dotstar-control-bar>
<dotstar-live-buffer-bar></dotstar-live-buffer-bar>


<!-- <div class="column p-10">
  <span class="mat-display-4">.mat-display-4</span>
  <span class="mat-display-3">.mat-display-3</span>
  <span class="mat-display-2">.mat-display-2</span>
  <span class="mat-display-1">.mat-display-1</span>
  <span class="mat-h1">.mat-h1</span>
  <span class="mat-h2">.mat-h2</span>
  <span class="mat-h3">.mat-h3</span>
  <span class="mat-h4">.mat-h4</span>
  <span class="mat-body">.mat-body</span>
  <span class="mat-body-string">.mat-body-string</span>
  <span class="mat-caption">.mat-caption</span>
</div> -->
