@import '~@angular/material/theming';

@import 'variables';

:host {
  min-height: 100vh;
  margin-bottom: 84px;
  display: flex;
  flex-direction: column;

  nav {
    background-color: $primary;
    @include mat-elevation(22);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    flex-shrink: 0;
  }

  mat-sidenav {
    max-width: 33vw;
    width: 250px;
    // min-width: 200px;
  }

}
