<dotstar-socket-notifier></dotstar-socket-notifier>

<div class="column gap-10 p-20">
  <dotstar-config-form></dotstar-config-form>
  <mat-card>
    <dotstar-visualizer ></dotstar-visualizer>
  </mat-card>
  <dotstar-sampler-form></dotstar-sampler-form>
</div>


<dotstar-control-bar>
  <div class="row gap-10 grow">
    <button
      mat-fab
      class="no-shadow"
      color="primary"
      *ngIf="bufferService.running | async"
      (click)="bufferService.pause()">
      <mat-icon>pause</mat-icon>
    </button>
    <button
      mat-fab
      class="no-shadow"
      color="accent"
      *ngIf="!(bufferService.running | async)"
      (click)="bufferService.resume()">
      <mat-icon>play_arrow</mat-icon>
    </button>
    <div class="column">
      <div class="mat-h3 m-0">Player</div>
      <span *ngIf="!(bufferService.running | async)" class="mat-caption">Paused</span>
      <span *ngIf="bufferService.running | async" class="mat-caption">Running</span>
    </div>
  </div>
  <div class="row gap-10 grow">
    <button
      mat-fab
      class="no-shadow"
      color="primary"
      *ngIf="socketService.connected$ | async"
      (click)="socketService.disconnect()">
      <mat-icon>stop</mat-icon>
    </button>
    <button
      mat-fab
      class="no-shadow"
      color="accent"
      *ngIf="!(socketService.connected$ | async)"
      (click)="socketService.connect()">
      <mat-icon>sync</mat-icon>
    </button>
    <div class="column">
      <div class="mat-h3 m-0">Sync to Device</div>
      <span *ngIf="!(socketService.connected$ | async)" class="mat-caption">Not Connected</span>
      <span *ngIf="socketService.connected$ | async" class="mat-caption">Connected</span>
    </div>
  </div>

  <code>{{ bufferService.clock | async }}</code>
</dotstar-control-bar>
