
<dotstar-socket-notifier></dotstar-socket-notifier>

<div class="column gap-10 p-20">
  <!-- <dotstar-input-canvas></dotstar-input-canvas> -->
  <dotstar-sampler-form></dotstar-sampler-form>
  <mat-card>
    <dotstar-visualizer ></dotstar-visualizer>
  </mat-card>
</div>

<dotstar-control-bar class="row gap-40">
  <div class="row gap-10 align-center">
    <button
      mat-icon-button
      [disabled]="socketService.connected$ | async"
      configFormTrigger>
      <mat-icon
        matTooltip="Configure the device"
        style="font-size: 2rem"
        [inline]="true">
        settings
      </mat-icon>
    </button>
    <div class="column justify-center">
      <div class="mat-h3 m-0">Device Configuration</div>
      <div class="mat-caption">{{ devicePath | async }}</div>
    </div>
  </div>

  <div class="column">
    <div class="mat-h3 m-0">Transmissions per second</div>
    <div class="row gap-5 align-center">
      <div class="mat-caption">{{ socketService.txps | async }}</div>
      <mat-slider class="p-0 m-0" [formControl]="txpsControl" [min]="txpsMin" [max]="txpsMax"></mat-slider>
    </div>
  </div>

  <div class="row grow"></div>

  <div class="row gap-10">
    <button
      mat-fab
      class="no-shadow"
      color="accent"
      *ngIf="bufferService.running | async"
      (click)="bufferService.pause()">
      <mat-icon>pause</mat-icon>
    </button>
    <button
      mat-fab
      class="no-shadow"
      color="primary"
      *ngIf="!(bufferService.running | async)"
      (click)="bufferService.resume()">
      <mat-icon>play_arrow</mat-icon>
    </button>
    <div class="column justify-center">
      <div class="mat-h3 m-0">Player</div>
      <span *ngIf="!(bufferService.running | async)" class="mat-caption">Paused</span>
      <span *ngIf="bufferService.running | async" class="mat-caption">Running</span>
    </div>
  </div>


  <div class="row gap-10">
    <button
      mat-fab
      class="no-shadow"
      *ngIf="socketService.connected$ | async"
      (click)="socketService.disconnect()">
      <mat-icon [spin]="10">sync</mat-icon>
    </button>
    <button
      mat-fab
      class="no-shadow"
      color="primary"
      *ngIf="!(socketService.connected$ | async)"
      (click)="socketService.connect()">
      <mat-icon>sync</mat-icon>
    </button>
    <div class="column justify-center">
      <div class="mat-h3 m-0">Connection</div>
      <span *ngIf="!(socketService.connected$ | async)" class="mat-caption">Not Connected</span>
      <span *ngIf="socketService.connected$ | async" class="mat-caption">Syncing updates</span>
    </div>
  </div>
</dotstar-control-bar>


<!-- <div class="column p-10">
  <span class="mat-display-4">.mat-display-4</span>
  <span class="mat-display-3">.mat-display-3</span>
  <span class="mat-display-2">.mat-display-2</span>
  <span class="mat-display-1">.mat-display-1</span>
  <span class="mat-h1">.mat-h1</span>
  <span class="mat-h2">.mat-h2</span>
  <span class="mat-h3">.mat-h3</span>
  <span class="mat-h4">.mat-h4</span>
  <span class="mat-body">.mat-body</span>
  <span class="mat-body-string">.mat-body-string</span>
  <span class="mat-caption">.mat-caption</span>
</div> -->
