<dotstar-socket-notifier></dotstar-socket-notifier>

<nav mat-tab-nav-bar color="accent" backgroundColor="primary">
  <a mat-tab-link
    *ngFor="let route of dotstarRoutes"
    [routerLink]="[route.path]"
    routerLinkActive
    #rla="routerLinkActive"
    [active]="rla.isActive">
    {{ route.data?.label }}
  </a>
</nav>

<mat-sidenav-container class="grow">
  <mat-sidenav mode="side" position="end" opened fixedInViewport class="elevation-5">
    <div class="row p-10">
      <span class="grow"></span>
      <button mat-icon-button [matMenuTriggerFor]="configMenu">
        <mat-icon>more_vert</mat-icon>
      </button>
    </div>
    <div class="p-10">
      <ng-container [ngSwitch]="selectedConfigMenuType">
        <dotstar-config-form *ngSwitchCase="MenuTypes.Lights"></dotstar-config-form>
      </ng-container>
    </div>
  </mat-sidenav>

  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>

</mat-sidenav-container>


<!-- Configuration panel-select menu -->
<mat-menu #configMenu="matMenu">
  <ng-container *ngFor="let menu of configMenus">
    <button mat-menu-item (click)="selectMenuType(menu.type)">
      <mat-icon>{{ menu.icon }}</mat-icon>
      <span>{{ menu.label }}</span>
    </button>
  </ng-container>
</mat-menu>


<dotstar-control-bar></dotstar-control-bar>
<dotstar-live-buffer-bar></dotstar-live-buffer-bar>


<!-- <div class="column p-10">
  <span class="mat-display-4">.mat-display-4</span>
  <span class="mat-display-3">.mat-display-3</span>
  <span class="mat-display-2">.mat-display-2</span>
  <span class="mat-display-1">.mat-display-1</span>
  <span class="mat-h1">.mat-h1</span>
  <span class="mat-h2">.mat-h2</span>
  <span class="mat-h3">.mat-h3</span>
  <span class="mat-h4">.mat-h4</span>
  <span class="mat-body">.mat-body</span>
  <span class="mat-body-string">.mat-body-string</span>
  <span class="mat-caption">.mat-caption</span>
</div> -->
