<div class="column gap-10" [formGroup]="physicsForm">
  <div class="mat-h2 m-b-20 row gap-5 align-center">
    <mat-icon>tune</mat-icon>
    <span>Physical Constants</span>
  </div>
  <mat-form-field *ngFor="let constant of physicalConstList">
    <mat-label>{{ constant.label }} ({{ constant.min  }}, {{ constant.max }})</mat-label>
    <input matInput
      type="number"
      [formControlName]="constant.name"
      [min]="constant.min"
      [max]="constant.max"
      [step]="constant.step">
      <mat-error *ngIf="physicsForm.get(constant.name).invalid">Not a valid value</mat-error>
  </mat-form-field>
  <pre>{{ physicsConfigService.physicsConfig | async | json }}</pre>
</div>
