<div class="column gap-10">
  <div class="row gap-10" [formGroup]="animationForm">
    <mat-form-field class="grow" appearance="standard">
      <span matPrefix class="m-r-5">
        <code>{{ samplerFnHead }}</code>
      </span>
      <mat-label>Red</mat-label>
      <input matInput formControlName="r">
      <mat-error *ngIf="animationForm.get('r').invalid">Invalid function</mat-error>
    </mat-form-field>
    <mat-form-field class="grow" appearance="standard">
      <span matPrefix class="m-r-5">
        <code>{{ samplerFnHead }}</code>
      </span>
      <mat-label>Green</mat-label>
      <input matInput formControlName="g">
      <mat-error  *ngIf="animationForm.get('g').invalid">Invalid function</mat-error>
    </mat-form-field>
    <mat-form-field class="grow" appearance="standard">
      <span matPrefix class="m-r-5">
        <code>{{ samplerFnHead }}</code>
      </span>
      <mat-label>Blue</mat-label>
      <input matInput formControlName="b">
      <mat-error *ngIf="animationForm.get('b').invalid">Invalid function</mat-error>
    </mat-form-field>
  </div>
</div>
