@import '~@angular/material/theming';

:host {
  @include mat-elevation(2);
  z-index: 999;
  background-color: black;

  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  height: 12px;
  display: block;

  canvas {
    display: block;
  }
}
