@import '~@angular/material/theming';

:host {
  @include mat-elevation(20);
  z-index: 999;

  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  height: 90px;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  padding: 0 2rem;
  justify-content: space-between;
}
