<mat-expansion-panel [expanded]="true">
  <!-- Header  -->
  <mat-expansion-panel-header>
    <mat-panel-title>Dotstar Configuration</mat-panel-title>
  </mat-expansion-panel-header>

  <!-- Panel content  -->
  <div [formGroup]="configForm" class="row gap-10">
    <mat-form-field class="grow">
      <input matInput placeholder="URL" formControlName="url">
    </mat-form-field>
    <mat-form-field class="grow">
      <input matInput placeholder="Device Path" formControlName="devicePath">
    </mat-form-field>
    <mat-form-field class="grow">
      <input matInput type="number" placeholder="Length" formControlName="length" min="1" max="1024">
    </mat-form-field>
  </div>

  <!-- Footer  -->
  <mat-action-row class="row gap-10">
    <pre class="grow">{{ connectionUrl }}</pre>
    <button mat-button color="primary" *ngIf="dotstarService.connected | async" (click)="disconnect()">Disconnect</button>
    <button mat-raised-button color="primary" *ngIf="!(dotstarService.connected | async)" (click)="connect()">Connect</button>
  </mat-action-row>
</mat-expansion-panel>
