<mat-expansion-panel>
  <!-- Header  -->
  <mat-expansion-panel-header>
    <mat-panel-title>Dotstar Configuration</mat-panel-title>
  </mat-expansion-panel-header>

  <!-- Panel content  -->
  <div [formGroup]="configForm" class="row gap-10">
    <mat-form-field class="grow">
      <input matInput placeholder="URL" formControlName="socketUrl">
    </mat-form-field>
  </div>

  <!-- Footer  -->
  <mat-action-row>
    <pre class="spacer">{{ myoUrl | async }}</pre>
    <button mat-button color="primary" (click)="disconnect()">Disconnect</button>
    <button mat-button color="primary" (click)="connect()">Connect</button>
  </mat-action-row>
</mat-expansion-panel>
